name: Frontend Unit Tests

on:
  pull_request:
    branches:
      - dev
      - staging
      - main
    paths:
      - "frontend/**"
      - ".github/workflows/unit-frontend-tests.yml"

jobs:
  frontend-unit-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm test
